# Python
.venv/
__pycache__/
*.pyc

# Env files
.env
.env.*

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
terraform.tfvars
terraform.tfvars.json

# OS / editor
.vscode/
.idea/
.DS_Store